                    <div class="form-container">

                        <div>
                            <h1>Edit Task</h1>    
                        </div>
                        <form action="/"  method="POST">

                            <div class="form-control">     
                    
                                <label for="title">Title</label>
                                <input type="text" id="title" name="title" value="Start AMazon Project">  
                    
                            </div>
                    
                            <div class="form-control">  
                                  
                                <label for="description">Description</label>
                                <textarea id="description" name="description" cols="30" rows="10">Please start your Amazon project!!!!!</textarea>
                            </div> 

                            <div class="form-control">
                                <input type="submit" value="Edit Task" class="btn">         
                            </div>
                    
                        </form>
    
                    </div>