                    <div class="top-area">
                        <h2>My Tasks</h2>    
                        <form action="/task/add" method="GET">
                            <input type="submit" value="Add Task" id="addButton" class="btn">
                        </form>
                    </div>
                    <div id="task-list-bottom-area">


                        {{#each tasks}}
                        <div class="task-items">
                            <h3>{{this.title}}</h3>
                            <div class="buttons-container">
                                <a href="/task/edit/{{this.taskID}}" class="btn">Edit</a>
                                <a href="" id="{{this.taskID}}" class="btn">Remove</a>
                            </div>
                        </div>
                        {{else}}
                            No Task found in the database
                        {{/each}}
                      
    
                    </div>