<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/tablet.css" media="(max-width:768px)">
    <link rel="stylesheet" href="/css/phone.css" media="(max-width:575.99px)">
    <title>Task Managment App | {{title}}</title>
</head>
<body>
        <header>
                <div class="container">
                    <nav>
                       <a href=""> <h1>Task Mangament App</h1> </a>
                        <ul id="main-menu-links">
                           

                           {{#if userInfo}}
                           
                                {{#ifEq userInfo.role "User"}}

                                  <li><a href="/task/dashboard">Task Dashboard</a></li>
                                  <li><a href="/auth/logout">Logout</a></li>

                                {{else}}
               
                                    <li><a href="/admin/dashboard">User Dashboard</a></li>
                                    <li><a href="/auth/logout">Logout</a></li>
                                
                                {{/ifEq}}

                            {{else}}
                                <li><a href="/">Home</a></li>
                            {{/if}}
                        </ul>
                        <div class="hambuger-menu hide">
                            <div class="bars"></div>
                            <div class="bars"></div>
                            <div class="bars"></div>
                        </div>
                    </nav>
                </div>
        </header>  
        <main>
            <section>
                <div class="container main-area" >
                        {{{body}}}
                </div>
            </section>

        </main>  
        <footer>

        </footer>

        <script src="/js/app.js"></script>
</body>
</html>