                   <div class="form-container">

                        <div>
                            <h1>Upload Photo</h1>    
                        </div>



                        
                        <form action="/user/upload" method="POST" enctype="multipart/form-data">


                            <div class="form-control">     
                    
                                <input type="file" id="file" name="photo">  
                                <div class="error">{{errors}}</div>
                    
                            </div>

                             <div class="form-control">     

                               <input type="submit" value="Upload Pic">
                    
                            </div>
                                        
                        </form>
    
                    </div>