                  {{> welcome}}
                  <div class="profile-container">
                        
                        <div class="profile-card">

                            <img src="/img/upload.png" alt="">
                            <a href="/user/upload">Upload Photo</a>

                        </div>
                        <div class="profile-card">

                            <img src="/img/password.png" alt="">
                            <a href="/user/password">Change Password</a>
                        </div>
                        <div class="profile-card">

                            <img src="/img/tasks.png" alt="">
                            <a href="/task/dashboard">Tasks</a>
                        </div>        

                    </div>
